body {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #5b3a19;
  line-height: 1.8;
}
nav ul {
  list-style-type: style none;;
  background-color: #b09d8ca4;
  padding: 10px;
  text-align: center;
  margin: 0;
}
nav ul li {
  display: inline;
  margin: 0 13px;
}
nav ul li a {
  color: #fff8e7;
  text-decoration:none;
  font-weight: bold;
}
nav ul li a:hover {
    color:black;
    text-decoration: underline;
}
header> h1 {
    text-align: center;
    color: rgb(244, 203, 141);
}
main p {
  font-size: 1.1em;
}

body.home {
  background-color: #fdebd0;
}

body.menu {
  background-color: #fdebd0;
}

body.gallery {
  background-color: #fdebd0;
}

body.Contact {
  background-color: #fdebd0;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #d2b48c;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5deb3;
}

tr.a {
  background-color: #fff1b5;
  font-weight: bold;
}
form {
  width: 80%;
  margin: 30px;
  background: #fff3e0;
  padding: 20px;
  border-radius: 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input, form textarea {
  width: 90%;
  padding: 6px;
  margin-top: 3px;
  border: 1px solid #d2b48c;
}

button {
  background-color: #7a5230;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #a67b5b;
}

footer {
  text-align: center;
  padding: 14px;
  background-color: #7a5230;
  color: #fff8e7;
  margin-top: 30px;
}